/* styles/Piece.module.css */
.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.king {
  color: gold;
  font-size: 1.5em;
  font-weight: bold;
}
