.piece {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .black {
    background-color: blue;
  }
  
  .red {
    background-color: red;
  }
  
  .king {
    color: gold;
    font-size: 24px;
  }
  